body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #334037;
  color: #d8cccc;
  padding: 1px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 25px;
}

nav ul li a {
  color: #d4c4c4;
  text-decoration: none;
}

main {
  padding: 1px;
}

footer {
  background-color: #334037;
  color: #ffffff;
  padding: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
